<main class="main">
  <div class="in">
  
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
       <div class="greeting"> 
        <%="こんにちは"%>
        <%= "#{current_user.name}さん"%>
      </div> 
      <% end %>
    <%# // ログインしているときは上記を表示する %>
    
    <h1 class="page-heading">〜レシピ一覧〜</h1>

    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: "recipe", collection: @recipe %>
    </div>
  </div>
</main>
