<div class="main">
  <div class="inner">
    <div class="user__wrapper">
    <% if user_signed_in? && @user == current_user %>

<% end %>


        <h3><%= "#{@user.name}さんのレシピ"%>
      </h3>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
         <%= render partial: 'recipes/recipe', collection: @recipes %> 
      </div>
    </div>
  </div>
</div>